{% extends 'main/macbro.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="{% static 'main/css/mac_companiya.css' %}">
{% endblock %}

{% block content %}
<div class="sectcompaniya"
    style="background: url(https://macbro.uz/images/delivery2.jpg) no-repeat center center/cover;">

    <h1 class="sectcompani">О компании</h1>


</div>
<div class="container2">
    <div class="sectcompani-text">
        <h4>Macbro</h4>

        <p>Вас приветствует магазин электроники MacBro. У нас вы можете найти всю продукцию Apple. Уже более 14 лет мы
            консультируем и подбираем нужный гаджет для наших покупателей. За время нашего существования на рынке мы
            успели оптимизировать доставку по межгороду, так что вы получите гаджет в течении трех дней, а если вам
            необходима доставка по городу мы доставим гаджет в течении 2 часов. 90% наших клиентов становятся
            постоянными покупателями, потому что мы даем гарантию на один год. Так же мы открыли свой собственный
            сервисный центр BroService. Мы работаем 7 дней в неделю с 10:00 до 20:00. Приезжайте к нам мы всегда поможем
            подобрать подходящий для вас гаджет.</p>
    </div>
</div>









{% endblock %}