{% extends 'main/macbro.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="{% static 'main/css/mac_vakansi.css' %}">
{% endblock %}

{% block content %}
<div class="sectcompaniya"
    style="background: url(https://macbro.uz/images/vacancyBanner.webp) no-repeat center center/cover;">

    <div class="container">
        <h1 class="sectcompani">Присоединяйся и меняй мир вместе с нами</h1>
    </div>


</div>
<div class="container">
    <div class="sectcompani-text">
        <h1>Открытые вакансии</h1>

        <p>На данный момент нет активных вакансий</p>
    </div>
</div>









{% endblock %}