{% extends 'main/macbro.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/mac_contacs.css' %}">

{% endblock %}

{% block content %}
    <div class="container2">
        <div class="sect-contetn-contanct">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="sectcontacs">
                        <h3 class="content-svaz pt-5">Связаться с нами</h3>
                        <p>Используйте форму ниже, чтобы отправить нам свои комментарии или сообщить о любых проблемах, с которыми вы столкнулись при поиске информации на нашем веб-сайте. Мы внимательно читаем все отзывы, но учтите, что мы не можем отвечать на отправленные вами комментарии.</p>
                        <div class="register pt-4">
                
        
               
                            <input placeholder="Полное имя" type="text" class="type-1" />
                            <input placeholder="Номер телефона" type="text" class="type-1" />
                            <input placeholder="Сообщение" type="text" class="type-1" />
                
                            <button class="reg mb-5">Зарегистрироваться</button>
                       
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="sect2-contacs">
                        <h2>Контактная информация</h2>
                        <p>+998787772020</p>
                        <p>macbroofficial@gmail.com</p>
                        <p>Г. Ташкент, Мирабадский р-н, ул. Мирабадская 66A</p>
                        <p>г. Ташкент, ул Паркентская, 219</p>
                        <p>Г. Ташкент, Шайхонтахурский р-н, ул. Алишера Навои 27</p>
                        <p>Г. Ташкент, Мирзо-Улугбекский р-н, Узбекистан овози, 21</p>
                        <div class="contact-sect pt-3">
                            <i class="fa-brands fa-telegram fa-2xl" style="color: #000000;"></i>
                            <i class="fa-brands fa-youtube fa-2xl" style="color: #000000;"></i>
                            <i class="fa-brands fa-square-facebook fa-2xl" style="color: #000000;"></i>
                            <i class="fa-brands fa-square-instagram fa-2xl" style="color: #000000;"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
    </div>











{% endblock %}