{% extends 'main/macbro.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="{% static 'main/css/mac_mac.css' %}">

{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <div class="sect1">
            <div class="sect-text">
                <h1>Все наши продукты</h1>
                <p>Инетернет-магазин MacBro Предлагает купить IPhone в Ташкенте. Компания давно специализируется на
                    поставках смартфонов от ведущего амираканскго производителя. Мы являемся дистибтьютером Apple в
                    Узбекистане, ччто позволояет обеспечить оптимальные условия продажи самой популярной марки
                    телефонов. Ознакомьтесь с информацией о продукции, представленной в этой рубрике каталога, и
                    преимуществами продажи Айфонов в Узбекистане в интернет-магазине MacBro. Также в обзоре даны
                    ответы на часто задаваевые вопросы покупателей</p>
            </div>
        </div>
    </div>
    <hr class="hr">
</div>

<div class="section2">
    <div class="container">
        <div class="sect2-text">
            <p class="posm">Посмотреть все продукты</p>

            <div class="sect2-text2">
                <p class="sortir">Сортировать по:</p>
                <p class="novinka1">Новейшие</p>
            </div>

        </div>

    </div>
    <hr class="hr">


    <div class="container">
        <div class="sect2-cards">
            <div class="row">
                {% for i in mac %}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="sect2-card">
                        <img src="{{ i.photo.url }}" alt="">

                        <p>{{ i.title}}</p>
                        <h1>от {{i.price}} сум</h1>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="sect2-cards">
            <div class="row">
                {% for i in iphone %}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="sect2-card">
                        <img src="{{ i.photo.url }}" alt="">

                        <p>{{ i.title}}</p>
                        <h1>от {{i.price}} сум</h1>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="sect2-cards">
            <div class="row">
                {% for i in ipad %}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="sect2-card">
                        <img src="{{ i.photo.url }}" alt="">

                        <p>{{ i.title}}</p>
                        <h1>от {{i.price}} сум</h1>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="sect2-cards">
            <div class="row">
                {% for i in Watch %}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="sect2-card">
                        <img src="{{ i.photo.url }}" alt="">

                        <p>{{ i.title}}</p>
                        <h1>от {{i.price}} сум</h1>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="sect2-cards">
            <div class="row">
                {% for i in AirPots %}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="sect2-card">
                        <img src="{{ i.photo.url }}" alt="">

                        <p>{{ i.title}}</p>
                        <h1>от {{i.price}} сум</h1>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="sect2-cards">
            <div class="row">
                {% for i in  akustika %}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="sect2-card">
                        <img src="{{ i.photo.url }}" alt="">

                        <p>{{ i.title}}</p>
                        <h1>от {{i.price}} сум</h1>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="sect2-cards">
            <div class="row">
                {% for i in aksessuar %}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="sect2-card">
                        <img src="{{ i.photo.url }}" alt="">

                        <p>{{ i.title}}</p>
                        <h1>от {{i.price}} сум</h1>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="sect2-cards">
            <div class="row">
                {% for i in phone %}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="sect2-card">
                        <img src="{{ i.photo.url }}" alt="">

                        <p>{{ i.title}}</p>
                        <h1>от {{i.price}} сум</h1>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
        <div class="sect2-cards">
            <div class="row">
                {% for i in samsung %}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="sect2-card">
                        <img src="{{ i.photo.url }}" alt="">

                        <p>{{ i.title}}</p>
                        <h1>от {{i.price}} сум</h1>

                    </div>
                </div>
                {% endfor %}

            </div>
        </div>

    </div>
    {% endblock %}


</div>


</body>

</html>