{% extends 'main/macbro.html' %}
{% load static %}
{% block head %}
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="stylesheet" href="{% static 'main/css/mac_sell.css' %}">
{% endblock %}

{% block content %}
<div class="sectcompaniya"
    style="background: url(https://macbro.uz/_next/static/media/banner2.f1c9212c052fb53bb0a1f770b6b56f23.png) no-repeat center center/cover;">

    <h1 class="sectcompani">Продавай легко</h1>


</div>
<div class="container2">
    <div class="sectsell">
        <div class="cardsell">
            <h2>Почему с нами легко работать ?</h2>
            <p>Мы предлагаем тип услуги «Легко продать сейчас» от MacBro, чтобы быстро и легко продать ваш подержанный
                гаджет. Выбирайте надежный сервис, чтобы сэкономить свое время, когда нужны деньги, и чтобы вас не
                обманули различные мошенники на рынке.</p>
        </div>
        <img class="sell-img" src="{% static 'main/img/sell/1.png' %}" alt="">

    </div>

    <div class="sectsell2">
        <div class="cardsell">
            <h2>Процесс продажи</h2>
            

        </div>
        <div class="row pt-3">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="cards_sell">
                    <div class="cardsellcontent">
                        <div class="collapse_sell">
                            <h5 class="collapsesell">1</h5>
                        </div>
    
                        <p>Оставьте заявку</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="cards_sell">
                    <div class="cardsellcontent">
                        <div class="collapse_sell">
                            <h5 class="collapsesell">2</h5>
                        </div>
    
                        <p>Мы свяжемся с вами и встретимся и договоримся о цене вашего гаджета!</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <div class="cards_sell">
                    <div class="cardsellcontent">
                        <div class="collapse_sell">
                            <h5 class="collapsesell">3</h5>
                        </div>
    
                        <p>Забирайте деньги вовремя!</p>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>









{% endblock %}