{% extends 'main/macbro.html' %}
{% load static %}
{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'main/css/mac_eosim.css' %}">

{% endblock %}

{% block content %}

<div class="container">
    <div class="contenteosim">
        <h1>ОБРАЩЕНИЕ</h1>
    <p>Уважаемые клиенты! Это обращение утверждает, что при покупке устройств, MacBro не обязуется регистрировать слот IMEI для eSIM.</p>
    <p>С уважением администрация MacBro.</p>
    
    </div>
</div>

    
{% endblock %}